.review-title {
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
}
.review-heading {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}
.review-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    padding: 30px;
    gap: 20px;
}
.review-items {
    padding: 15px 30px;
    box-shadow: 1px 1px 41px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.customer-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    margin: 10px auto 10px;
}
.customer-name {
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
.starff {
    color: var(--main-color);
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.2rem;
}
.review-description {
    text-align: center;
    font-style: italic;
    color: var(--text-color);
}
@media (max-width: 425px){
    .customer-review{
        padding: 50px 10px;
    }
    .review-heading{
        font-size: 1.5rem;
    }
}