.service-title {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.service-heading {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}
.service-item-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 20px;
    background-color: #fff;
    padding: 20px;
}
.service-img {
    width: 100%;
    height: 222.391px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.service-model {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 4px 8px;
    display: inline-block;
    margin-bottom: 10px;
}
.service-item-title {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 5px;
}
.price {
    margin-bottom: 10px;
}
.price span {
    color: var(--main-color);
}
.rent-btn {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #474fa0;
    color: #fff;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.3s ease-in-out;
}
.rent-btn:hover {
    background-color: var(--main-color);
}
.service-items {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 41px rgba(0, 0, 0, 0.1);
}
@media (max-width: 881px) {
    .service-item-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    }
}
@media (max-width: 768px) {
    .service-item-container {
        width: 65vw;
        grid-template-columns: 1fr;
        justify-content: center;
        margin: 0 auto;
    }
}
@media (max-width: 320px){
    .service-section{
        padding: 50px 14px;
    }
    .service-heading{
        font-size: 1.5rem;
    } 
    .service-item-container {
        width: 100vw;
        display: grid;
        grid-template-columns: 95%;
        align-items: center;
        justify-content: space-between;
        grid-gap: 20px;
        padding: 10px;
    }
    .service-items {
        padding: 10px;
    }
}
@media (max-width: 375px){
    .service-section{
        padding: 50px 14px;
    }
    .service-heading{
        font-size: 1.5rem;
    } 
    .service-item-container {
        width: 100vw;
        display: grid;
        grid-template-columns: 90%;
        align-items: center;
        justify-content: space-between;
        grid-gap: 20px;
        padding: 10px;
    }
    .service-items {
        padding: 10px;
    }
}
@media (max-width: 425px){
    .service-section{
        padding: 50px 14px;
    }
    .service-heading{
        font-size: 1.5rem;
    } 
    .service-item-container {
        width: 100vw;
        display: grid;
        grid-template-columns: 90%;
        align-items: center;
        justify-content: space-between;
        grid-gap: 20px;
        padding: 10px;
    }
    .service-items {
        padding: 10px;
    }
}